root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Web files (JavaScript, TypeScript, Svelte, JSON)
[*.{js,ts,svelte,json,cjs}]
indent_style = tab
tab_width = 2

# Python files
[*.py]
indent_style = space
indent_size = 4

# Go files
[*.go]
indent_style = tab
tab_width = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2